.description-item {
  padding-bottom: 10px;
}

.title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  max-width: none !important;
}

.requirement-title {
  max-width: none !important;
}
