<table class="table-sm-responsive w-100" *ngIf="programStatistics?.length > 0">
  <thead class="table-label-head">
    <tr class="border-bottom">
      <td>Programmes du carnet</td>
      <td class="text-right">Nb int.</td>
      <td class="text-right">Longueur</td>
      <td class="text-right" *ngIf="hasPermissionInterventionAnnualDistribution">Budget</td>
    </tr>
  </thead>
  <tbody>
    <tr class="border-bottom" *ngFor="let item of programStatistics">
      <td>{{ item.programId | appTaxonomy: 'programType' }}</td>
      <td class="text-right">{{ item.interventionsCount }}</td>
      <td class="text-right">{{ item.annualLength }} km</td>
      <td class="text-right" *ngIf="hasPermissionInterventionAnnualDistribution">
        {{ item.budget | number: '1.0-3' }} k$
      </td>
    </tr>
  </tbody>
</table>
