<app-details-layout>
  <span title>Documents</span>
  <ng-container actions>
    <app-sort [filters]="filters" [formControl]="sortFormControl"></app-sort>
    <app-details-add-button
      *ngIf="(hasPermissionToWrite | appPermission) && (restrictionItems | appRestrictions)"
      class="ml-1"
      [disabled]="!canInteract"
      (onAdd)="openCreateModal()"
    ></app-details-add-button>
  </ng-container>
  <app-no-result *ngIf="!(documents$ | async)?.length" [message]="noResultMessage"></app-no-result>
  <app-list-item *ngFor="let document of documents$ | async; let i = index">
    <span title>
      <div class="mb-1">
        {{ document.documentName }}
        <label *ngIf="document.interventionId && !intervention" class="font-weight-normal text-secondary mb-0">
          <span class="mx-1">•</span>
          Intervention #{{ document.interventionId }}
        </label>
      </div>
    </span>
    <span description>
      <app-document-status-badge
        *ngIf="document.validationStatus"
        [documentStatus]="document.validationStatus"
      ></app-document-status-badge>
      <label *ngIf="!document.audit?.lastModifiedBy" class="font-weight-bold">
        {{ document.audit?.createdBy.displayName }}
      </label>
      <label *ngIf="document.audit?.lastModifiedBy" class="font-weight-bold">
        {{ document.audit?.lastModifiedBy.displayName }}
      </label>
      <label *ngIf="!document.audit?.lastModifiedAt">Créé le {{ document.audit?.createdAt | date: 'longDate' }}</label>
      <label *ngIf="document.audit?.lastModifiedAt">
        Modifié le {{ document.audit?.lastModifiedAt | date: 'longDate' }}
      </label>
    </span>
    <app-list-item-details>
      <app-list-item-details-field *ngIf="document.type">
        <span title>Type de document</span>
        <span description>{{ document.type | appTaxonomy: 'documentType' }}</span>
      </app-list-item-details-field>
      <app-list-item-details-field>
        <span title>Pièce jointe</span>
        <span class="clickable text-primary d-flex" description (click)="downloadDocumentFile(document)">
          {{ document.fileName }}
          <app-progress-circle
            *ngIf="isDocumentDownloading(document)"
            [percentage]="getDocumentDownloadProgress(document)"
          ></app-progress-circle>
        </span>
      </app-list-item-details-field>
      <app-list-item-details-field *ngIf="document.notes">
        <span title>Notes</span>
        <span description>{{ document.notes }} &nbsp;</span>
      </app-list-item-details-field>
    </app-list-item-details>
    <app-list-item-action *ngIf="canInteract && (restrictionItems | appRestrictions)" (action)="showEditModal(document)">
      <i class="icon icon-edit"></i>
      Modifier le document
    </app-list-item-action>
    <app-list-item-action *ngIf="canInteract && (restrictionItems | appRestrictions)" (action)="showDeleteModal(document)">
      <i class="icon icon-trash"></i>
      Supprimer
    </app-list-item-action>
  </app-list-item>
</app-details-layout>
