<div class="draw-asset-modal">
  <div class="modal-header py-3">
    <h4 class="modal-title">Dessin de la zone d'intervention</h4>
    <button type="button" class="close" aria-label="Fermer" (click)="closeModal(null)">
      <span class="icon icon-x icon-color-dark"></span>
    </button>
  </div>
  <div class="modal-body scrollable">
    <div>
      <p>Veuillez choisir le type de forme que vous désirez utiliser pour le dessin de votre intervention:</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-squared btn-secondary bg-white mr-2" (click)="closeModal(DrawMode.drawPoint)">
          Point
        </button>
        <button class="btn btn-squared btn-secondary bg-white mr-2" (click)="closeModal(DrawMode.drawLine)">
          Ligne
        </button>
        <button class="btn btn-squared btn-secondary bg-white mr-2" (click)="closeModal(DrawMode.drawPolygon)">
          Polygone
        </button>
      </div>
    </div>
  </div>
</div>
