<div class="bg-danger-reversed d-flex p-2">
  <div class="d-flex flex-grow-1">
    <span class="icon icon-error icon-color-white" role="icon"></span>
  </div>
  <div class="flex-grow-1 d-flex justify-content-center">
    <h5 class="text-white font-weight-bold pr-2">Décision requise</h5>
    <h5 class="text-white font-weight-normal pr-8">
      Une décision est requise, vous devez soit accepter ou refuser l'intervention
    </h5>
    <h5 class="text-white font-weight-bold"><a [routerLink]="['decisions']" href="#" class="text-white">Voir</a></h5>
  </div>
  <div class="flex-grow-1"></div>
</div>
