<div class="container-grid flexbox-container d-flex justify-content-center align-items-center text-center">
 <div class="left-col w-50">
    <img class="logo-vdm  mb-6" src="assets/images/logo_vdm.svg"  alt="logo VDM"/>
    <span class="title-message mb-4 d-block font-weight-bold">Accès refusé</span>
    <p class="text-message font-weight-normal ">Vous n’avez pas accès à cette application.<br> Veuillez contacter un administrateur d’AGIR pour plus d’informations.</p>
 </div>
 <div class="right-col w-50">
 </div>
</div>
