:host {
    
  .navbar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
    padding: 0.25em;
    
    // Linked value for a well-know bar size useful in calc() function
    min-height: 3.5em;
    max-height: 3.5em;

    .app-name {
        color: white;
    }

    .profile-btn {
        margin-left: -1.5rem;
    }

}
}

.spacer {
    flex: 1 1 auto;

    border-right: 0.05rem solid #ced4da;  
    min-height: 1.5rem;
}