<nav class="navbar">

    <button vdm-button type="button" displayType="utility" level="tertiary" [reversed]="true">
        <vdm-icon svgIcon="icon-menu"></vdm-icon>
    </button>

    <span class="app-name">AGIR</span> 

    <button vdm-button type="button" displayType="utility" level="tertiary" [reversed]="true">
        planif
    </button>
    <div class="spacer"></div>
    <button vdm-button type="button" displayType="utility" level="tertiary" [reversed]="true" >
        Profil
    </button>

</nav>