/*.table-label-value td.nromal-title {
  font-weight: normal;
}*/
.table-label-head tr > td{
  font-weight: bold !important;
    color: #000 !important;
}

tr.border-bottom td {
  padding: 5px;
}
