<button class="btn btn-icon btn-icon-only mb-2" [routerLink]="['../']">
  <span class="icon icon-arrow-left back-button"></span>
</button>
<div *ngIf="exportLog">
  <h4 class="mb-1">Export {{ exportLog.startDateTime | appDateFormat : 'yyyy-MM-dd HH:mm' }}</h4>

  <div class="d-flex flex-row align-items-start mb-4">
    <app-transmission-status-badge [transmission]="exportLog"></app-transmission-status-badge>
    <span class="icon icon-dot-interpunct"></span>
    <span class="font-md base-line-height">Fin de transmission: {{ exportLog.endDateTime | appDateFormat : 'yyyy-MM-dd HH:mm' }}</span>
  </div>

  <h5>Liste des projets exportés</h5>

  <div class="mt-4 responsive-table">
    <table class="table table-lg">
      <thead>
        <tr>
          <th *ngFor="let column of columnConfig.columns"
              class="sorting"
              appSort
              [sorting]="columnOptions[column.columnName].sortable"
              [direction]="columnOptions[column.columnName].sorted"
              (sortChange)="sortColumn(column.columnName, $event.direction)">
            {{ RtuTransmissionsTableColumnLabels[column.columnName] }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of exportLog.projects">
        <tr>
          <td class="align-middle">
            <a appWindowLink href="window/projects/{{ item.id }}/overview" appStopProp>{{ item.id }}</a>
          </td>
          <td class="align-middle">
            <app-transmission-status-badge [transmission]="item"></app-transmission-status-badge>
          </td>
          <td class="align-middle">
            {{ item.projectName }}
          </td>
          <td class="align-middle">
            {{ item.streetName }}
          </td>
          <td class="align-middle">
            {{ item.streetFrom }}
          </td>
          <td class="align-middle">
            {{ item.streetTo }}
          </td>
          <td class="border-0 col-options d-flex flex-1 justify-content-end align-middle"  [ngClass]="{'border-white': item.opened}">
            <div class="d-flex flex-column justify-content-center" *ngIf="item.errorDescriptions.length > 0">
              <button class="btn btn-icon btn-secondary"
                (click)="item.opened = !item.opened">
                <i class="icon" [class.icon-chevron-up]="item.opened" [class.icon-chevron-down]="!item.opened"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td *ngIf="item.opened" class="border-bottom errorDetails" colspan="7">
            <div class="pl-2 ml-7 border-left border-width-sm">
              <div class="d-flex py-2">
                <div class="flex-2 d-flex flex-column">
                  <h6 class="mb-0">Description de l'erreur</h6>
                </div>
                <div class="flex-6 pr-3">
                  <h6 class="mb-0 word-break font-weight-normal text-neutral-secondary" *ngFor="let error of item.errorDescriptions">
                    <span class="values-list">
                      {{ error }}
                    </span>
                  </h6>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
