<app-layout-modal [modalTitle]="modalTitle" [scrollable]="false">
  <div body>
    <form [formGroup]="progressHistoryFormGroup" class="content-form d-flex justify-content-between">
      <div class="form-group flex-grow-1 mr-2">
        <label for="progressStatus">État d’avancement</label>
        <div class="form-group-input">
          <vdm-select bindLabel="label.fr" bindValue="code" formControlName="progressStatus" [items]="progressStatuses">
          </vdm-select>
          <app-form-errors formControlName="progressStatus">
            <app-form-error *appFormError="let e; key: 'required'">L'état d’avancement est requis</app-form-error>
          </app-form-errors>
        </div>
      </div>
      <div class="form-group flex-grow-1">
        <label for="progressStatusChangeDate">Date du changement de l’état</label>
        <div class="input-group">
          <input class="form-control" ngbDatepicker #datePicker="ngbDatepicker" [minDate]="minDate"
            formControlName="progressStatusChangeDate" (click)="datePicker.toggle()" />
          <div class="input-group-append">
            <button class="btn btn-secondary form-control pr-0" (click)="datePicker.toggle()">
              <span class="icon icon-calendar icon-color-neutral-tertiary" role="icon"></span>
            </button>
          </div>
        </div>
        <app-form-errors formControlName="progressStatusChangeDate">
          <app-form-error *appFormError="let e; key: 'required'">Date du changement de l’état est requis
          </app-form-error>
        </app-form-errors>
      </div>
    </form>
  </div>
  <div buttons>
    <button type="button" class="btn btn-tertiary btn-squared bg-white mr-2" (click)="reject()">
      Annuler
    </button>
    <button type="submit" class="btn btn-primary btn-squared add-button" (click)="submit()"
      [disabled]="submitting || progressHistoryFormGroup.invalid">
      Modifier
    </button>
  </div>
</app-layout-modal>