<span class="title">Title</span>
<span class="description">Description</span>

<vdm-nav-list>
  <a vdm-list-item>
    <span vdm-list-item-title>2021</span>
    <vdm-tag type="positive"><span>En cours de programmation</span></vdm-tag>
    <div class="spacer"></div>
    <button vdm-button type="editorial" level="tertiary" size="medium">
      <vdm-icon svgIcon="icon-more-vertical"></vdm-icon>
    </button>
  </a>
  <a vdm-list-item>
    <span vdm-list-item-title>Title</span>
    <vdm-tag type="positive"><span>Label</span></vdm-tag>
    <div class="spacer"></div>
    <button vdm-button type="editorial" level="tertiary" size="medium">
      <vdm-icon svgIcon="icon-more-vertical"></vdm-icon>
    </button>
  </a>
  <a vdm-list-item>
    <span vdm-list-item-title>Title</span>
    <vdm-tag type="positive"><span>Envoye (final)</span></vdm-tag>
    <div class="spacer"></div>
    <button vdm-button type="editorial" level="tertiary" size="medium">
      <vdm-icon svgIcon="icon-more-vertical"></vdm-icon>
    </button>
  </a>
</vdm-nav-list>
