<app-intervention-form-layout
  [form]="form"
  [isValidBoroughId]="isValidBoroughId"
  [submitting]="submitting"
  [assets]="interventionSelectedAssets?.length ? interventionSelectedAssets : undefined"
  [assetTypes]="assetTypes$ | async"
  [assetOwners]="assetOwners$ | async"
  [assetWorkTypes]="assetWorkTypes$ | async"
  buttonLabel="Modifier"
  [medalTypes]="medalTypes$ | async"
  [requestors]="requestors$ | async"
  [executors]="executors$ | async"
  [programs]="programs$ | async"
  [categories]="categories$ | async"
  [intervention]="intervention"
  [interventionTypes]="interventionTypes$ | async"
  [years]="years"
  [(interventionArea)]="interventionArea"
  [duplicateIntervention]="duplicateIntervention$ | async"
  (mapChange)="map = $event"
  (cancel)="cancel()"
  (submit)="submitAndNavigate(broadcastEventException.interventionEdit)"
  (isSelectingAssets)="setIsSelectingAssets($event)"
  [isLoadingAssets]="mapService.isLoadingRoadSection"
  (onRoadSectionCancel)="onRoadSectionCancel()"
  (onAssetChange)="onAssetListChange($event)"
  (onSubmitAssets)="onSubmitAssets()"
  (removeInterventionArea)="removeInterventionArea()"
  [isAssetHasProperties]="isAssetHasProperties"
  (drawnAssetChange)="assetDrawn($event)"
>
  <span header-title>Modification de l'intervention {{ intervention?.id }}</span>
</app-intervention-form-layout>
