<div class="tab-pane fade show active" id="legend-medals" role="tabpanel" aria-labelledby="legend-medal-tab">
  <div class="d-flex mt-4">
    <div class="col-md-4 pl-0">
      <div class="d-flex mb-1">
        <div class="col-3 p-0">
          <app-medal medalId="platinum"></app-medal>
        </div>
        <div class="col">
          <div>
            <p class="mb-1 legend-sub-title font-weight-bold">Très grande complexité</p>
            <p class="mb-1">
              Projets d’envergure avec un aménagement ou un réaménagement intégral incluant un repartage de la rue afin
              d’améliorer l’expérience de l’usager, la mobilité et la sécurité.
            </p>
            <p class="mb-1">
              Projets d’envergure impliquant des modifications majeures de la rue pouvant générer la création de
              nouvelles rues.
            </p>
          </div>
        </div>
      </div>

      <div class="d-flex mb-1">
        <div class="col-3 p-0">
          <app-medal medalId="gold"></app-medal>
        </div>
        <div class="col">
          <div>
            <p class="mb-1 legend-sub-title font-weight-bold">Grande complexité</p>
            <p class="mb-1">
              Réaménagement intégral incluant un repartage de la rue afin d'améliorer l'expérience de l'usager, la
              mobilité et la sécurité.
            </p>
            <p class="mb-1">Projet structurant impliquant des modifications majeures de la rue.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 pl-0">
      <div class="d-flex mb-1">
        <div class="col-3 p-0">
          <app-medal medalId="silver"></app-medal>
        </div>
        <div class="col">
          <div>
            <p class="mb-1 legend-sub-title font-weight-bold">Complexité moyenne</p>
            <p class="mb-1">
              Réaménagement important incluant un repartage de la rue afin d'améliorer l'expérience de l'usager, la
              mobilité et la sécurité.
            </p>
            <p class="mb-1">Projet classique impliquant des modifications de la rue</p>
          </div>
        </div>
      </div>

      <div class="d-flex mb-1">
        <div class="col-3 p-0">
          <app-medal medalId="bronze"></app-medal>
        </div>
        <div class="col">
          <div>
            <p class="mb-1 legend-sub-title font-weight-bold">Complexité faible</p>
            <p class="mb-1">
              Réaménagement léger de la rue afin d'améliorer l'expérience de l'usager, la mobilité et la sécurité.
            </p>
            <p class="mb-1">Projet simple impliquant des modifications mineures de la rue.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
