// col submitted-itervention size table
$submission-project-table-col-requirement : 90px;
$submission-project-table-col-projectId: 100px;
$submission-project-table-col-label : 300px;
$submission-project-table-col-program:240px;

$submission-project-table-col-streetName:140px;
$submission-project-table-col-streetFrom:180px;
$submission-project-table-col-streetTo:200px;
$submission-project-table-col-boroughId:200px;

