<div class="d-flex justify-content-between">
  <p>Consulter les détails des transmission en cliquant sur les éléments du tableau qui sont disponibles.</p>
</div>

<div class="pl-mb-4">
  <nav class="nav-tabs nav-tabs-lg" >
    <ul class="nav" role="tablist" #rtuTransmissionsNavOptions>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['../imports']">Importations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['../exports']">Exportations</a>
      </li>
    </ul>
  </nav>
</div>
