<div class="tab-pane fade show active" id="legend-elements" role="tabpanel" aria-labelledby="legend-elements-tab">
  <div class="d-flex">
    <p class="col-sm-4 col-md-3 mb-2 pt-4 px-0">
      Les éléments d'AGIR sont représentés par des épingles ainsi que des polygones de couleurs sur la carte.
    </p>
  </div>

  <div class="d-flex">
    <div class="col-sm-4 col-md-3 pl-0 pl-0">
      <h5 class="mb-2">Couleurs</h5>
      <p>Les couleurs des polygones définissent la temporalité de l'élément ou encore son statut.</p>
      <p>Pour les projets, les couleurs, définissent la temporalité:</p>
      <div class="d-flex align-items-center my-1">
        <img src="assets/images/past-project-pin.svg" />
        <span class="ml-1 ">Passé</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img src="assets/images/present-project-pin.svg" />
        <span class="ml-1 ">Présent - Statuts: Éléments programmés</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img src="assets/images/present-planned-project-pin.svg" />
        <span class="ml-1 ">Présent - Statuts: Éléments planifiés</span>
      </div>
      <div class="d-flex align-items-center my-1 mb-2">
        <img src="assets/images/future-project-pin.svg" />
        <span class="ml-1 ">Futur</span>
      </div>
      <p>Pour les interventions, les couleurs définissent le statut:</p>
      <div class="d-flex align-items-center my-1">
        <img src="assets/images/decision-required-wished.svg" />
        <span class="ml-1 ">Intervention souhaitée ou en attente</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start mt-1" src="assets/images/decision-required-not-wished.svg" />
        <span class="ml-1 ">Intervention nécéssitant une décision des planificateurs</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/decision-not-required-wished.svg" />
        <span class="ml-1 ">Intervention traitée par le planificateur</span>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 pl-0 pl-0">
      <h5 class="mb-2">Iconographie</h5>
      <p>L'icone utilisé à l'intérieur de l'épingle permet de présenter une variante d'états des éléments sur la carte.</p>
      <h6 class="mb-2">Projets</h6>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/send-icon.svg" />
        <span class="ml-1 ">Projet envoyé préliminaire</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/check-icon.svg" />
        <span class="ml-1 ">Projet envoyé final</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/calendar-icon.svg" />
        <span class="ml-1 ">Projet replanifié</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/refresh-icon.svg" />
        <span class="ml-1 ">Projet reporté</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/cancel-icon.svg" />
        <span class="ml-1 ">Projet annulé</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start mt-1" src="assets/images/edit-icon.svg" />
        <span class="ml-1 ">Projet partenaires, arrondissements ou villes-liées</span>
      </div>
      <h6 class="mb-2">Interventions</h6>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/accept-icon.svg" />
        <span class="ml-1 ">Intervention acceptée</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/refused-icon.svg" />
        <span class="ml-1 ">Intervention refusée</span>
      </div>
      <div class="d-flex align-items-center my-1">
        <img class="align-self-start" src="assets/images/cancel-icon.svg" />
        <span class="ml-1 ">Intervention annulée</span>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 pl-0">
      <h5 class="mb-2">Motifs</h5>
      <p>Les motifs des polygones définissent le statut de l'élément ou encore sa temporalité.</p>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/passed-project-pattern.svg" />
        <span class="ml-1 ">Projet passé</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/present-planned-project-pattern.svg" />
        <span class="ml-1 ">Présent: Projet planifié</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/acheved-planned-project-pattern.svg" />
        <span class="ml-1 ">Parachèvement planifié (Chevauchement passé et présent)</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/green-rectangle.svg" />
        <span class="ml-1 ">Présent: Projet programmé</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/marine-rectangle.svg" />
        <span class="ml-1 ">Parachèvement programmé (Chevauchement passé et présent)</span>
      </div>
      <div class="d-flex align-items-center mb-1">
        <img src="assets/images/futur-project-pattern.svg" />
        <span class="ml-1 ">Projet futur</span>
      </div>
    </div>
  </div>
</div>
