node_modules
/.scannerwork
/coverage
/log
.idea
.eslintrc.json
.Dockerfile.local.debug
/environment.json
/*.log
/test-*
/src/test.ts
/temp
/output
/.nyc_output
/config/local.yaml
!/config/local-tests.yaml

*.map
*.js
*.d.ts
*.DS_Store
!/src/core/types/**/*.d.ts
!/gulpfile.js
!/prettier.config.js
!/.docker/docker-local-debug.js
!/open-api/swagger-editor/**/*.js
!/open-api/swagger-editor/**/*.js.map
!/open-api/swagger-ui/**/*.js
!/open-api/swagger-ui/**/*.js.map

scripts/import/**/in/*
