<div class="modal-header py-3">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="close" aria-label="Fermer" (click)="reject()" *ngIf="showCloseButton">
    <span class="icon icon-x icon-color-dark"></span>
  </button>
</div>
<div class="modal-body" [class.scrollable]="scrollable">
  <ng-content select="[body]"></ng-content>
</div>
<div class="modal-footer d-flex flex-fill" *ngIf="showFooter">
  <div class="justify-content-start">
    <ng-content select="[leftButtons]"></ng-content>
  </div>
  <div class="justify-content-end">
    <ng-content select="[buttons]"></ng-content>
  </div>
</div>
