// col submitted-itervention size table
$submitted-intervention-table-col-id : 90px;
$submitted-intervention-table-col-interventionName: 300px;
$submitted-intervention-table-col-programId : 200px;
$submitted-intervention-table-col-decisionRequired:100px;
$submitted-intervention-table-col-interventionTypeId:140px;
$submitted-intervention-table-col-requestorId:180px;
$submitted-intervention-table-col-streetName:200px;
$submitted-intervention-table-col-streetFrom:200px;
$submitted-intervention-table-col-streetTo:200px;
$submitted-intervention-table-col-boroughId:130px;


// col project to schedule size table
$project-toschedule-table-col-id : 90px;
$project-toschedule-table-col-projectName: 300px;
$project-toschedule-table-col-projectTypeId:160px;
$project-toschedule-table-col-category: 170px;
$project-toschedule-table-col-status: 200px;
$project-toschedule-table-col-streetName:200px;
$project-toschedule-table-col-streetFrom:200px;
$project-toschedule-table-col-streetTo:200px;
$project-toschedule-table-col-boroughId:130px;
