@import '../../../styles/core/variables';

$file-size-line-height: 0.8;
$sections-divisor-length: 2.5rem;
$td-padding-top: 1rem;

.file-size {
  line-height: $file-size-line-height;
}

.divisor {
  margin: $sections-divisor-length 0;
}

.table-results tr td {
  padding-top: $td-padding-top;
}

::ng-deep .progress-bar {
  background-color: $color-turquoise-700 !important;
}

.white-space-pre-line {
  white-space: pre-line;
}
