<form [formGroup]="form">
  <div class="flex-1 mb-2">
    <div class="row">
      <div class="col-md-6 form-group">
        <label class="font-weight-bold flex-1 pr-3">Type d'exigence</label>
        <vdm-select
          appendTo="body"
          class="flex-fill shadow-dropdown-panel"
          bindLabel="label.fr"
          formControlName="type"
          [items]="requirementTypes"
          disabled="disabled"
        ></vdm-select>
        <app-form-errors formControlName="type">
          <app-form-error *appFormError="let e; key: 'required'">Le type d'exigence est requis</app-form-error>
        </app-form-errors>
      </div>
      <div class="col-md-6 form-group">
        <label class="font-weight-bold flex-1 pr-3">Sous-type</label>
        <vdm-select
          appendTo="body"
          class="flex-fill shadow-dropdown-panel"
          bindLabel="label.fr"
          formControlName="subType"
          [items]="requirementSubtypeForSelect"
          groupBy="subTypes"
        ></vdm-select>
        <app-form-errors formControlName="type">
          <app-form-error *appFormError="let e; key: 'required'">Le sous-type est requis</app-form-error>
        </app-form-errors>
      </div>
    </div>
    <div>
      <div class="mt-1 mb-1">
        <p>
          Associez un objet ayant un statut valide à cette exigence. Les projets annulés sont exclus, et uniquement les
          interventions acceptées et intégrées sont autorisées.
        </p>
      </div>
      <div class="col-md-6 form-group pl-0 ">
        <label class="font-weight-bold flex-1 pr-3">Sélection de l'objet</label>
        <app-search-box
          class="padding-search-icon"
          [autocompleteDisabledObjectTypes]="disabledSearchObjectTypes"
          (itemSelected)="selectItem($event)"
          [defaultInterventionSearchRequest]="defaultInterventionSearchRequest$ | async"
          [defaultProjectSearchRequest]="defaultProjectSearchRequest$ | async"
          [autocompleteFilter]="filterSearchResults"
          (search)="searchObjects($event)"
        ></app-search-box>
      </div>
      <ng-container>
        <div *ngFor="let item of selectedObjects | slice: 1; let i = index">
          <div class="col-md-12 px-0 border-bottom">
            <app-requirement-conflictual-item
              [btnLabel]="btnLabel"
              [item]="item.data"
              [itemType]="item.type"
              (selected)="handleConflictualPair(item.data, i + 1)"
            >
            </app-requirement-conflictual-item>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="form-group mb-0">
    <label class="font-weight-bold" for="form-control-default-one">Description de l'exigence</label>
    <textarea formControlName="description" class="form-control w-100"></textarea>
    <app-form-errors formControlName="description">
      <app-form-error *appFormError="let e; key: 'required'">La description est requise</app-form-error>
    </app-form-errors>
  </div>
</form>
