@import '../../../../styles/core/variables';

$priority-level-card-height: 162px;
$priority-level-card-padding: 24px;
$priority-level-card-title-padding-top: 12px;
$priority-level-card-title-height: 60px;
$priority-level-card-margin-bottom: 20px;

.priority-level-card {
  background-color: $color-gray-100;
  min-height: $priority-level-card-height;
  padding-left: $priority-level-card-padding;
  padding-right: $priority-level-card-padding;
  padding-bottom: $priority-level-card-padding;
  margin-bottom: $priority-level-card-margin-bottom;
}

.priority-level-card:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.priority-level-card-title {
  padding-top: $priority-level-card-title-padding-top;
  height: $priority-level-card-title-height;
}

.rotate {
  transform: rotate(-90deg);
}

label {
  white-space: pre-wrap;
}
