dist
node_modules
package
.docker
.local
.vscode
.git
*.map
/test
/temp
/dist
/package
.dockerignore
.gitignore
.npmrc
.prettierignore
Jenkinsfile.dockerFarm
Jenkinsfile.kubernetes
package.json
package-lock.json
yarn.lock
/node_modules
/test
/output
/temp
/test-*
/log

/open-api/swagger-editor
/open-api/swagger-ui

license
*.js
*.yaml
*.hbs
*.txt
/html